#pagecontent{
    display:flex;
}

#Interactive{
    height: 100%;
    flex: 4;
    margin-left: 3%;
}

#psquare{
    flex: 1.4;
    margin-right: 7%;
    margin-top: 5%;
}

#info{
    font-size: 12pt;
    font-weight: bold;
    text-align: justify;
    margin-right: 3%;
    margin-bottom: 12%;
}

#input{
    width: 75% !important;
    margin-bottom:5%;
}

input:focus::placeholder{
    color: transparent;
}

output:focus::placeholder{
    color: transparent;
}

#output{
    width: 75% !important;
    margin-bottom:5%;
    margin-top: 5%;
}

#analysis-input{
    width: 75% !important;
}
#analysis-output{
    width: 75% !important;
}

#analysis-button{
    margin-left: 20%;
}

#header{
    display:inline-block;
    margin: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
}

#io{
    display:block;
}

#key{
    display:block;
}

#keyword{
    display:inline-block;
    font-weight: bold;
    margin-top: 10%;
}

#keyword-input{
    display:inline-block;
    margin-top: 10%;
}

button{
    display:inline-block;
    width: 20%;
    background-color: aqua;
    padding: 1%;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover{
    background-color: aquamarine;
}

#buttons{
    display:block;
    margin-left: 6.9%;
}

#swapbutton{
    display:block;
    width: 20%;
    margin-left: 25%;
}
h2{
    display: inline-block;
    width: 100%;
    background-color: aqua;
    text-align: center;
    padding-top:1%;
    padding-bottom: 1%;

}
footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#grid-col {
    display: grid;
    width:30%;
    /* we can also specify exact pixels, percentage, repeat
    grid-template-columns: 50px 100px 150px;*/
    /*grid-template-columns: 25% 50% 25%;*/
    /*grid-template-columns: 100px 20% auto;*/
    grid-template-columns: repeat(5, auto); 
  }

  div.cell {
    text-align: center;
    font-weight: bold;
    background: aqua;
    border: 1px solid Blue;
    padding: 10px;
    width: 30px;
    height: 30px;
    caret-color: transparent;
  }


  